* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #0d1a2b;
    --text-color: #ffffff;
    --border-color: #ffffff;
}

body {
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    width: 600px;
    margin: 150px auto;
    color: var(--text-color);
}

.app .app-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #712cf9;
    padding: 7px 13px;
    border-radius: 10px;
    color: var(--text-color);
    box-shadow: 0 0 10px #712cf9;
}

.app .app-title .title {
    width: 100%;
    margin-right: 5px;
    text-align: center;
    font-size: 28px;
    font-style: italic;
    font-weight: bolder;
}

.app .app-title .add-task-btn {
    background-color: transparent;
    border: none;
    font-size: 28px;
    cursor: pointer;
    font-weight: bolder;
    color: var(--text-color);
}

.app .app-title .add-task-btn:hover {
    transform: scale(1.1);
}

.app .tasks .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 13px;
    margin: 15px;
}

.app .tasks .task .title-date {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: 70px;
    justify-content: space-around;
}

.app .tasks .task .task-actions {
    display: flex;
    width: 25%;
    justify-content: space-around;

    align-items: center;
}

.app .tasks .task .title-date .task-title {
    font-size: 18px;
    overflow-wrap: anywhere;

}

.app .tasks .task .title-date .task-date {
    font-size: 13px;
    font-weight: 100;
    color: #b2ae9d;
}

.app .tasks .task .task-actions button {
    font-size: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.app .tasks .task .task-actions .isDone-btn {
    color: rgb(66, 186, 66);
}

.app .tasks .task .task-actions .delete-btn {
    color: #9E2B25;
}

.app .tasks .task .task-actions .edit-btn {
    color: #465038;
}

.no-tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 25px;
}



@media screen and (max-width:600px) {
    .app {
        width: calc(100% - 50px);
        margin: 150px 25px;
    }

    .app .tasks .task .task-actions button {
        font-size: 20px;
        margin-left: 15px;
    }
}

@media screen and (max-width:500px) {
    .app {
        width: calc(100% - 50px);
        margin: 150px 25px;
    }

    .app .tasks .task .task-actions button {
        font-size: 20px;
        margin-left: 15px;
    }

    .app .tasks .task .task-actions {
        width: 40%;
    }

    .app .tasks .task .title-date {
        display: flex;
        flex-direction: column;
        width: 60%;
        min-height: 70px;
        justify-content: space-around;
    }
}

@media screen and (max-width:350px) {
    .app {
        width: calc(100% - 50px);
        margin: 150px 25px;
    }

    .app .tasks .task .task-actions button {
        font-size: 20px;
        margin-left: 15px;
    }

    .app .tasks .task .task-actions {
        width: 50%;
    }

    .app .tasks .task .title-date {
        display: flex;
        flex-direction: column;
        width: 50%;
        min-height: 70px;
        justify-content: space-around;
    }
}

.hidden {
    display: none;
}

.prompt {
    border: 1px solid var(--text-color);
    background-color: var(--background-color);
    border-radius: 8px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 170px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -87%);
    width: 450px;
    max-width: 80vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.prompt h3 {
    align-self: center;
}

.prompt input {
    width: 70%;
    align-self: center;
    padding: 5px;
    border-radius: inherit;
    background-color: #f4c4c4;
    color: var(--background-color);
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.prompt input:focus {
    box-shadow: 0 0 15px #712cf9;
}

.prompt button {
    background-color: #f33939;
    color: var(--text-color);
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    width: 72px;
}

.prompt button:hover {
    background-color: rgb(255, 0, 0, 0.9);
}

.prompt .buttons {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    align-self: center;
}

@media screen and (max-width:415px) {
    .no-tasks {
        display: block;
        margin: 25px;
        line-height: 1.3;
        text-align: center;
    }
}